<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sorbellini.s214631.lab2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowOffer"
            android:label="@string/title_activity_show_offer"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.sorbellini.s214631.lab2.MainActivity" />
        </activity>
        <activity android:name=".FormularAddingAnOffer" />
        <activity android:name=".ActivityDailyOffer" />
        <activity android:name=".ModifyOffer"></activity>
        <activity
            android:name=".ShowReservations"
            android:label="@string/title_activity_show_reservations"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sorbellini.s214631.lab2.MainActivity" />
        </activity>
        <activity android:name=".ReservationDetails"
            android:label="@string/title_activity_show_reservation_detail"
            android:parentActivityName=".ShowReservations"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sorbellini.s214631.lab2.ShowReservations" />
        </activity>
    </application>

</manifest>